{% extends 'movies/base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/add_comment.css">
{% endblock %}

{% block content %}
<div>
    <div class="movies">
        <div class="items">
        <div class="movie_container">
            <div class="movie_inf_nav">
                <a href="{% url 'movies:comment' movie.id %}">{{ movie.name }}</a>
            </div>
            <div class="movie_inf_col1">
                <img src="{{ movie.img_url }}">
            </div>
            <div class="movie_inf_col2">
                <p>导演：{{ movie.director }}</p>
                <p>主演：{{ movie.star }}</p>
                <p>类型：{{ movie.type }}</p>
                <p>国家：{{ movie.country }}</p>
                <p>语言：{{ movie.language }}</p>
                <p>上映时间：{{ movie.year }}</p>
                <p>片长：{{ movie.duration }}</p>
            </div>
            <div class="movie_inf_col3">
                <p>IMDB评分:</p>
                <p class="score">{{ movie.imdb_score }}</p>
            </div>
            <div>
        </div>
        </div>
        </div>
        <div class="aside">
            <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ul>
        </div>

    </div>
    <form class="add_comment_form" action="{% url 'movies:add_comment' movie.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">提交评论</button>
    </form>
    </div>



{% endblock %}
