{% extends 'movies/base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/comment.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript">
         function refresh(element){
                var xmlhttp;
                refresh_id=element.id;
                refresh_id=refresh_id.replace(/a/,"");
                xmlhttp=new XMLHttpRequest();
                xmlhttp.onreadystatechange=function()
                  {
                      if (xmlhttp.readyState==4 && xmlhttp.status==200)
                            {
                            if(xmlhttp.responseText=='赞'){
                                document.getElementById("y"+refresh_id).innerHTML="取消赞";
                            }
                            else{
                                document.getElementById("y"+refresh_id).innerHTML="点赞";
                            }
                       }
                  }
                    var url = "{% url 'movies:refresh' 0  %}";
                    url = url.replace(/0/, refresh_id);
                xmlhttp.open("GET",url,true);
                xmlhttp.send();
            }
    </script>
    <script type="text/javascript">
         function like(element){
                var xmlhttp;
                like_id=element.className;
                xmlhttp=new XMLHttpRequest();
                xmlhttp.onreadystatechange=function()
                  {
                      if (xmlhttp.readyState==4 && xmlhttp.status==200)
                            {
                            var data=JSON.parse(xmlhttp.responseText)
                            if(data['like_status']=='赞'){
                                document.getElementById("y"+like_id).innerHTML="取消赞";
                                document.getElementById("z"+like_id).innerHTML=data['like_num'];
                            }
                            else{
                                document.getElementById("y"+like_id).innerHTML="点赞";
                                document.getElementById("z"+like_id).innerHTML=data['like_num'];
                            }
                       }

                  }
                    var url = "{% url 'movies:like' 0  %}";
                    url = url.replace(/0/, like_id);
                xmlhttp.open("GET",url,true);
                xmlhttp.send();
            }
    </script>
    <script type="text/javascript">
        function fuck(element){
            var p = element.parentNode
            p.innerHTML=""
        };
         function loadXMLDoc(element){
                var xmlhttp;
                cmd_id=element.id;
                xmlhttp=new XMLHttpRequest();
                xmlhttp.onreadystatechange=function()
                  {
                      if (xmlhttp.readyState==4 && xmlhttp.status==200)
                            {
                            var data=JSON.parse(xmlhttp.responseText)
                            document.getElementById("x"+cmd_id).innerHTML="";
                            document.getElementById("x"+cmd_id).innerHTML="<span onclick='fuck(this)'>收起评论↑</span>";
                            for(var i=0;i<data.length;i++){
                                document.getElementById("x"+cmd_id).innerHTML+="<p>@"+data[i].fields.owner+"："+data[i].fields.content+"</p>";
                            }
                       }

                  }
                  cmd_id=element.id

                    var url = "{% url 'movies:ajax_test' 0  %}";
                    url = url.replace(/0/, cmd_id);
                xmlhttp.open("GET",url,true);
                xmlhttp.send();
            }
    </script>
{% endblock %}

{% block content %}
<div>
    <div class="movies">
        <div class="items">
        <div class="movie_container">
            <div class="movie_inf_nav">
                <a href="{% url 'movies:comment' movie.id %}">{{ movie.name }}</a>
            </div>
            <div class="movie_inf_col1">
                <img width="120px" src="{{ movie.img_url }}">
            </div>
            <div class="movie_inf_col2">
                <p>导演：{{ movie.director }}</p>
                <p>主演：{{ movie.star }}</p>
                <p>类型：{{ movie.type }}</p>
                <p>国家：{{ movie.country }}</p>
                <p>语言：{{ movie.language }}</p>
                <p>上映时间：{{ movie.year }}</p>
                <p>片长：{{ movie.duration }}</p>
            </div>
            <div class="movie_inf_col3">
                <p>IMDB评分:</p>
                <p class="score">{{ movie.imdb_score }}</p>
                <div class="comment_button"><a href="{% url 'movies:add_comment' movie.id %}">我也要评论该片</a></div>
            </div>
            <div>
            <p>影片简介</p>
            <p>{{ movie.detail }}</p>
        </div>
        </div>
        </div>
        <div class="aside">
            <ul>
                <h3>本周热门电影评论区</h3>
                {% for item in top10_movies %}
                <a href="{% url 'movies:comment' item.id %}"><li>{{ forloop.counter }}.{{ item.name }}</li></a>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="comment">
    {% for comment in comment_list %}
        <div id="a{{ comment.id }}" class="comment_in_comment" onmouseenter="refresh(this)">
            <p class="comment_user">@用户{{ comment.owner }}的评论：</p>
            <p class="user_score">个人评分：{{ comment.score }}分</p>
            <p>{{ comment.content }}</p>
            <div class="comment_inf"><span onclick="like(this)" id="y{{ comment.id }}" class="{{ comment.id }}">点赞</span><span id="z{{ comment.id }}">{{ comment.like_num }}</span>
                                    &nbsp&nbsp|&nbsp&nbsp
                                    <span onclick="loadXMLDoc(this)" id="{{ comment.id }}" class="comment_comment">评论列表</span>
            </div>
            <div id="x{{ comment.id }}" class="comment_in_comment_item"></div>
            <form method="post" action="{% url 'movies:add_comment_in_comment' comment.id %}">
                {% csrf_token %}
                {{ form_comment_in_comment.as_p }}
                <button name="submit">提交评论</button>
            </form>
        </div>
    {% endfor %}
    </div>

    {#显示分页导航栏--start#}
                <div class="kkk">
                <ul  class="pagination" id="pager" >
                    {#上一页按钮开始#}
                    {# 如果当前页有上一页#}
                    {% if comment_list.has_previous %}
                        {#  当前页的上一页按钮正常使用#}
                        <li class="previous"><a href="?page={{ comment_list.previous_page_number }}">上一页</a></li>
                    {% else %}
                        {# 当前页的不存在上一页时,上一页的按钮不可用#}
                        <li class="previous disabled"><a>上一页</a></li>
                    {% endif %}
                    {#上一页按钮结束#}

                    {# 页码开始#}
                    {% for num in paginator.page_range %}
                        {% if num == currentPage %}
                            <li class="liactive"><a class="selected" href="?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                            <li class="itemli"><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {#页码结束#}

                    {# 下一页按钮开始#}
                    {% if comment_list.has_next %}
                        <li class="next"><a href="?page={{ comment_list.next_page_number }}">下一页</a></li>
                    {% else %}
                        <li class="next disabled"><a>下一页</a></li>
                    {% endif %}
                    {# 下一页按钮结束#}
                </ul>
                </div>
    </div>



{% endblock %}
